.button { 
   -fx-background-color: #011627; 
   -fx-text-fill: #fdfffc; 
   -fx-font-family: Garamond;
   -fx-font-size: 18px;
   -fx-border-radius: 67px;
   -fx-cursor: pointer;
   -fx-width: 250px;
   -fx-height:40px;
}

.button:hover {
  -fx-background-color: #f71735; 
}

.button_anim{ 
   -fx-background-color: #011627; 
   -fx-text-fill: #fdfffc; 
   -fx-font-family: Garamond;
   -fx-font-size: 18px;
   -fx-border-radius: 67px;
   -fx-cursor: pointer;
   -fx-width: 250px;
   -fx-height:40px;
}
.button_anim:hover {
  -fx-background-color: #ff9f1c; 
}

.smallbutton{ 
   -fx-background-color: #011627; 
   -fx-text-fill: #ff9f1c; 
   -fx-font-family: Garamond;
   -fx-font-size: 15px;
   -fx-border-radius: 12px;
   -fx-cursor: pointer;
   -fx-width: 200px;
   -fx-height:40px;
}

.smallbutton_anim{ 
   -fx-background-color: #011627; 
   -fx-text-fill: #fdfffc; 
   -fx-font-family: Garamond;
   -fx-font-size: 15px;
   -fx-border-radius: 12px;
   -fx-cursor: pointer;
   -fx-width: 200px;
   -fx-height:40px;
}
.smallbutton_anim:hover {
  -fx-background-color: #ff9f1c; 
}
